body {
  margin: 0;
  background: rgb(33,2,59);
  background: linear-gradient(90deg, rgba(33,2,59,1) 0%, rgba(54,1,117,1) 100%); 
}

h1 {
  margin : 0;
  padding : 0;
  font-family :'Segoe UI';
  color : beige;
}

div.first {
  display : flex;
  box-sizing : border-box;
  overflow : hidden;
  min-height : 100vh;
}

div.reverse {
  flex-direction : row-reverse;
}

div.content {
  display : flex;
  justify-content : center;
  align-items : center;
  flex  : 1;
  /* position : absolute;
  top : 50%;
  transform : translate(0, -50%); */
}

div.threeDimention {
  display : flex;
  justify-content : center;
  align-items : center;
  flex : 1;
}